{% extends 'base.html' %}

{% block title %}
    Main
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Демо тест независимой работы Django и Celery</h1>
        <form method="post" action="">
            {% csrf_token %}
            <label for="number_one">Первое число:</label><br>
            <input type="number" id="number_one" name="number_one" required><br>
            <label for="number_two">Второе число:</label><br>
            <input type="number" id="number_two" name="number_two" required><br>
            <button class="btn btn-outline-success mt-2" type="submit">Отправить</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<p style="color:red">{{ message }}</p>{% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<p style="color:green">{{ message }}</p>{% endif %}
            {% endfor %}
        {% endif %}

        <div class="mt-2">
            <a href="{% url 'truncate' %}" type="button" class="btn btn-danger" onclick="return confirm('Вы действительно хотите удалить все записи из таблицы?');">Обнулить таблицу</a>
        </div>

        <hr>
        <strong>Ранее отправленные записи и результаты их вычислений</strong><br>
        {% if records %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Первое число</th>
                        <th scope="col">Второе число</th>
                        <th scope="col">Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td>{{ record.number_one }}</td>
                        <td>{{ record.number_two }}</td>
                        <td>
                            {% if record.number_sum %}
                                {{ record.number_sum }}
                            {% else %}
                                <p>?</p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <b>Нет записей</b>
        {% endif %}
    </div>
{% endblock %}
